*{
margin: 0;
padding: 0;
}

.cabecalho{
padding: 15px 25px;
display: flex;
justify-content: space-between;
align-items: center;
background-color: green;
}

.cartao{
width: 260px;
height: 200px;
}

.cartao-imagem{
width: 100%;
}

body{
display: flex;
flex-direction: column;
min-height: 100vg;
background-color: violet;
}
main{
flex: 1;
display: flex;
flex-direction: center;
}

.cabecalho-link{
color: rgb(0, 255, 34);
text-decoration: none;
}

h1{
 color: lawngreen;
 font: size 24px;
 }

 footer{
    background-color: aqua;
    pedding: 15px 25px;
    color: blue;
    
}

.cartao-interno{
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.cartao-hover, .cartao-interno{
    transform: rotateY(180deg);
}

cartao-frente; .cartao-verso{
    
}
